ul {
    padding-left: 1.5rem;
  }

h1 {
    text-align:center;
}

h3 {
    text-align:center;
}

h4 {
    text-align:center;
}

h5 {
    visibility: hidden;
}

#MainMenu {
    visibility: hidden;
}

header {
    visibility: hidden;
}
